---
layout: focus/single
sidebar:
  - image: "/assets/images/placeholder-logo.jpg"
    image_alt: "image"
    title: "My Title5555555" 
    text: "Some text here."
    nav:
      - main                  
---

{{ content }}


<ul>
    <li>Image : {{ page.featured-img }}</li>
    <li>Logo : {{ page.featured-logo }}</li>
    <li>Author : {{ page.author_profile }}</li>
    <li>Page title : {{ page.title }}</li>
    <li>Page url : {{ page.url }}</li>    
</ul>    

{% if page.sidebar %}
        {% for s in page.sidebar %}
            SIDEBAR : {{ s.title }}        
        {% endfor %}
{% endif %}



{% assign url = page.url | split: '/' %}
URL : {{ url }}

{% assign url_parts = page.url | split: '/' %}
{% assign last_part = url_parts | last %}
{% assign formatted_last_part = last_part | replace: '-', ' ' %}
<!-- Display the formatted result -->
<p>{{ formatted_last_part }}</p>

---

{% if url contains 'topics' %}
PAGE TITLE ONLY WHEN HAS /TOPICS IN URL? {{ page.title}}
{% endif %}

<div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
		{% comment %}<!-- CUSTOM -->{% endcomment %}
		{% include focus/taxonomy-description.html %}
    {% endunless %}
    
    <hr>
    
    <h1>RESOURCES, PAGES</h1>
    {% assign types_list = "resource, page" | split: ", " %}
    {% for type in types_list %}        
            {% include focus/post-display.html type=type topic=page.title format="list" order="desc" container_class="" type_class="" type-item_class="box-shadow" %}            
    {% endfor %}
    
    <hr>
    
    <h1>POSTS</h1>        
    {% for post in page.posts %}
      {% include archive-single.html %}
    {% endfor %}
</div>




<script>
// Check if the current page is the 404 page
if (window.location.pathname === '/404.html' || window.location.pathname === '/404') {
    // Capture the full attempted path from the browser's address bar
    let attemptedUrl = document.referrer.split(window.location.host)[1] || window.location.pathname;

    // Check if the attempted URL follows a specific pattern (e.g., starts with /topics/)
    if (attemptedUrl.startsWith('/topics/')) {
        // Extract the specific part after /topics/
        let topicName = attemptedUrl.substring('/topics/'.length);

        // Construct the new URL with query parameters
        let newUrl = '/topic?content=' + encodeURIComponent(topicName);

        // Redirect to the new URL
        window.location.href = newUrl;
    } else {
        console.log('Attempted URL does not match expected pattern.');
    }
} else {
    console.log('This is not a 404 page.');
}