---
layout: focus/single
template: sidebar-right
sidebar:
  - image: "/assets/images/placeholder.jpg"
    image_alt: "image"
    title: "Taxonomies FRONTMATTER" 
    text: "Some text here."
    nav:
      - main                  
---

{% assign title = page.title | downcase %}

{{ content }}

<div class="archives">
            
    {% assign types_list = "resource, page, post" | split: ", " %}
    {% for type in types_list %}        
            {% include focus/post-display.html type=type topic=page.title format="compact" order="desc" container_class="" type_class="" type-item_class="box-shadow" %}            
    {% endfor %}
    
</div>