---
layout: focus/single
---

{% assign title = page.title | downcase %}

{{ content }}

<div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
		{% comment %}<!-- CUSTOM -->{% endcomment %}
		{% include focus/taxonomy-description.html topic=title %}
    {% endunless %}
            
    {% assign types_list = "resource, page, post" | split: ", " %}
    {% for type in types_list %}        
            {% include focus/post-display.html type=type topic=page.title format="list" order="desc" container_class="" type_class="" type-item_class="box-shadow" %}            
    {% endfor %}
    
</div>