---
layout: default
---
{% assign layout_slug = page.layout | default: layout.layout | replace: '/', '-') %}
    

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% assign breadcrumbs_enabled = site.breadcrumbs %}
{% if page.breadcrumbs != null %}
  {% assign breadcrumbs_enabled = page.breadcrumbs %}
{% endif %}
{% if page.url != "/" and breadcrumbs_enabled %}
  {% unless paginator %}
        {% include focus/breadcrumbs.html %}
  {% endunless %}
{% endif %}

layout slug {{ layout_slug }}

{% if layout_slug != "focus-home" or layout_slug != "focus-single-taxonomy" %}
<div id="page__header">
    <div class="wrapper">
        <header>
              {% unless page.header.overlay_color or page.header.overlay_image %}
                  {% if page.title_before %}<div class="page-title-before">{{ page.title_before }}</div>{% endif %}
                  {% if page.title %}
                  <h1 id="page-title" class="page__title" itemprop="headline">
                    <a href="{{ page.url | absolute_url }}" itemprop="url">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
                  </h1>
                  {% if page.title_after %}<div class="page-title-after">{{ page.title_after }}</div>{% endif %}
                  {% endif %}
              {% endunless %}      
    
              {% if page.featured_image or page.featured_video %}
                      {% include focus/page__featured.html %}                
              {% endif %}      
    
              
              <div class="page__meta_wrapper">          
                  {% assign author = page.author | default: page.authors[0] | default: site.author %}
                  {% assign author = site.data.authors[author] | default: author %}
    
                  {% if page.author %}
                    <!-- Page author -->         
                    <div class="page__meta_author">                    
                            {% if author.name %}
                                <div class="author__name p-name" itemprop="name">
                                  <a class="u-url" rel="me" href="{{ author.home | default: '/' | absolute_url }}" itemprop="url">{{ author.name }}</a>
                                </div>
                            {% endif %}
                            
                            {% if author.avatar %}
                                <div class="author__avatar">
                                  <a href="{{ author.home | default: '/' | absolute_url }}">
                                    <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image" class="u-photo">
                                  </a>
                                </div>
                            {% endif %}
                              
                            {% if author.bio %}
                              <div class="author__bio p-note" itemprop="description">
                                {{ author.bio | markdownify }}
                              </div>
                            {% endif %}                        
                    </div>
                  {% endif %}
        
                  {% if page.date %}
                    <!-- Page date -->         
                    <div class="page__meta_date">                    
                        {% include page__meta.html %}
                    </div>
                  {% endif %}
        
                  
                  {% if page.show_taxonomy %}
                    <!-- Page taxonomy -->         
                    <div class="page__meta_taxonomy">                                    
                        {% include page__taxonomy.html %}
                    </div>
                  {% endif %}                      
            </div>                    
        </header>
    </div> <!-- wrapper -->
</div> <!-- page__header -->
{% endif %}

<!-- Main -->
<div id="main" role="main">
    <div class="wrapper">
        
          <!-- Sidebar -->
          {% include focus/sidebar.html side="left" class="main" %}
          
          <article class="page" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
            {% if page.title %}<meta itemprop="headline" content="{{ page.title | replace: '|', '&#124;' | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
            {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
            {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
            {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}
        
            
            <div class="page__inner-wrap">            
          
                {% comment %} ########### DISABLE FOR NOW 
                <header>
                  {% unless page.header.overlay_color or page.header.overlay_image %}
                      {% if page.title_before %}<div class="page-title-before">{{ page.title_before }}</div>{% endif %}
                      {% if page.title %}
                      <h1 id="page-title" class="page__title" itemprop="headline">
                        <a href="{{ page.url | absolute_url }}" itemprop="url">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
                      </h1>
                      {% if page.title_after %}<div class="page-title-after">{{ page.title_after }}</div>{% endif %}
                      {% endif %}
                  {% endunless %}      
        
                  {% if page.featured_image or page.featured_video %}
                          {% include focus/page__featured.html %}                
                  {% endif %}      
                  {% include page__meta.html %}
                </header>
                {% endcomment %}
                                                
                 
                  <!-- SECTION page__before_post -->   
                  {% include focus/hook.html hook="page__before_post" class=""%}      
                  
                  <section class="page__content" itemprop="text">
                      
                        <!-- SECTION page__post_aside -->   
                        {% comment %} Disabled by default through css  {% endcomment %}  
                        <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
                            {% include focus/hook.html hook="page__post_aside" class=""%}                                      
                        </aside>

                
                        
                        <!-- CONTENT -->
                        {% assign paragraphs = content | split: '</p>' %}
                        {% for paragraph in paragraphs %}
                            {{ paragraph | append: '</p>' }}
                            {% if forloop.index == 8 %}
                               {% include focus/hook.html hook="page__within_post" %}
                            {% endif %}
                        {% endfor %}
                        
                                          
                        {% if page.link %}
                            <div>                                
                                <a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a>
                            
                            </div>
                        {% endif %}
            
                  </section> <!-- page__content -->
            
                  <footer class="page__meta">
                    {% if site.data.ui-text[site.locale].meta_label %}
                      <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
                    {% endif %}
                    
                    <!-- Page taxonomy -->
                    {% if page.show_taxonomy %}{% include page__taxonomy.html %}{% endif %}    
                    
                    <!-- Page date -->
                    {% if page.show_footer_date %}{% include page__date.html %}{% endif %}
                  </footer>
                  
                  <!-- SECTION page__after_post -->
                  {% include focus/hook.html hook="page__after_post"  class="notice--danger" %}      
            
                  <!-- Page sharing -->
                  {% if page.share %}{% include social-share.html %}{% endif %}
                
                  <!-- Page pagination -->
                  {% if page.show_pagination %}{% include post_pagination.html %}{% endif %}
              
            </div> <!-- page__inner-wrap -->
        
            {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
              {% include comments.html %}
            {% endif %}
            
    
        
      </article>
      
      <!-- Sidebar -->
      {% include focus/sidebar.html side="right" class="main" %}
    </div> <!-- .wrapper -->
</div> <!-- #main -->

<div class="single-related">
    <div class="wrapper">
          {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
          {% if page.id and page.related and site.related_posts.size > 0 %}
            {% include page__related.html posts=site.related_posts %}
          {% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %}
          {% elsif page.id and page.related %}
            {% include page__related.html posts=site.posts %}
          {% endif %}
    </div>
</div>



