---
layout: focus/single
---

{{ content }}

---

{% assign types_list = "resource, page, post" %}

{% include focus/post-display.html type="page" topic="personal development" order="desc" container_class="" type_class="box-shadow" type-item_class="" %}

{% include focus/post-display.html type="resource" topic="personal development" order="desc" container_class="" type_class="box-shadow" type-item_class="" %}

{% include focus/post-display.html type="post" topic="personal development" order="desc" container_class="" type_class="box-shadow" type-item_class="" %}
