<div class="grid-4">
    <div>
        <div>
            <h4>Pages</h4>
            {% include focus/post-display.html type="page" filter="all" format="list" order="" container_class="" type_class="" type-item_class="" %}     
        </div>
        <div>
            <h4>Resources</h4>
            {% include focus/post-display.html type="resource" filter="all" format="list" order="" container_class="" type_class="" type-item_class="" %}     
        </div>
        <div>
            <h4>Docs</h4>
            {% include focus/post-display.html type="doc" filter="all" format="list" order="" container_class="" type_class="" type-item_class="" %}     
        </div>        
        <div>
            <h4>Posts</h4>
            {% include focus/post-display.html type="post" filter="all" format="list" order="" container_class="" type_class="" type-item_class="" %}     
        </div>        
    </div>
</div>