## RESOURCE

{{ page.resource }}

{% raw %}
<div markdown="1">
## Whenever you’re ready, there are 4 ways I can help you :

1. The Creator MBA: On January 16th, 2024, I’m aggregating 5 years of online business expertise, proven methods, and actionable strategies into The Creator MBA. It will set the stage for a new era of lean, focused, and profitable Internet businesses. Join 14,800+ internet entrepreneurs on the waitlist.
2. ​The LinkedIn Operating System:​ Join 17,000 students and 30 LinkedIn Top Voices inside of The LinkedIn Operating System. This comprehensive course will teach you the system I used to grow from 0 to 480,000+ followers and $5M+ in income.
3. ​The Content Operating System​: Join 7,000 students in my multi-step content creation system. Learn to create a high-quality newsletter and 6-12 pieces of high-performance social media content each week.
4. ​Promote yourself to 180,000+ subscribers​ by sponsoring my newsletter
</div>
{% endraw %}