{% assign taxonomy_display = site.taxonomy_display %}
{% if layout.taxonomy_display != nil %}
  {% assign taxonomy_display = layout.taxonomy_display %}
{% endif %}
{% if page.taxonomy_display != nil %}
  {% assign taxonomy_display = page.taxonomy_display %}
{% endif %}

<div class="scrollable-container">
    <div class="scrollable">          
        {% if taxonomy_display %}
            <div id="search-a" class="taxonomies-select search-content is--visible">
                {% include_cached search/search_form.html %}
            </div>
            {% include focus/taxonomies-select.html classes = "buttons"%}
        {% endif %}
    </div>
</div>