<div class="plain">
    <div class="cta-category cta-category-1-1">
        <a href="/">POST – LEAD MAGNET – CATEGORY 1-1</a>
    </div>
    
    <div class="cta-category cta-category-1-2">
        <a href="/">POST – LEAD MAGNET – CATEGORY 1-2</a>
    </div>
    
    <div class="cta-category cta-category-2-1">
        <a href="/">POST – LEAD MAGNET – CATEGORY 2-1</a>
    </div>
    
    <div class="cta-category cta-category-3-1">
        <a href="/">POST – LEAD MAGNET – CATEGORY 3-1</a>
    </div>
</div>