
{% assign layout_slug = page.layout | default: layout.layout | replace: '/', '-') %}
{% if layout_slug == "focus-topics" or layout_slug == "focus-single-taxonomy" %}
    <div class="search-mode all-posts">
        {% assign types_list = "resource, post, page, product" | split: ", " %}
    
    {% for type in types_list %}
        {% for category_key in site.data.taxonomies %}
            {% if category_key[1].type == "category" %}
                {% assign category = category_key[0] %}        
                {% include focus/post-display.html type=type topic=category format="compact" order="desc" container_class="search" type_class="" type-item_class="box-shadow" %}            
            {% endif %}        
        {% endfor %}        
    {% endfor %}
    </div>
{% endif %}


{% capture page_content %}
#### Whenever you’re ready, there are 4 ways I can help you :

1. The Creator MBA: On January 16th, 2024, I’m aggregating 5 years of online business expertise, proven methods, and actionable strategies into The Creator MBA. It will set the stage for a new era of lean, focused, and profitable Internet businesses. Join 14,800+ internet entrepreneurs on the waitlist.
- The LinkedIn Operating System:​ Join 17,000 students and 30 LinkedIn Top Voices inside of The LinkedIn Operating System. This comprehensive course will teach you the system I used to grow from 0 to 480,000+ followers and $5M+ in income.
- The Content Operating System​: Join 7,000 students in my multi-step content creation system. Learn to create a high-quality newsletter and 6-12 pieces of high-performance social media content each week.
Promote yourself to 180,000+ subscribers​ by sponsoring my newsletter
{% endcapture %}

{{ page_content | markdownify }}

markdownified