{% assign site_search = page.search | default: site.search %}
{% if site_search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
{% endif %}
        
{%  assign taxonomy_display = page.taxonomy_display | default: site.taxonomy_display %}
{% if taxonomy_display %}
    {% include focus/taxonomies-select.html classes = "buttons"%}
{% endif %}
