<!-- Display Taxonomy description -->
{% assign post_slug = page.title | slugify %}
{% capture dynamic_key %}{{ post_slug }}{% endcapture %}
{% assign taxonomy_details = site.data.categories[dynamic_key] %}

{% if taxonomy_details %}
  <div class="taxonomy-details">
      <h2>{{ taxonomy_details.title | markdownify }}</h2>
      <div>
          {{ taxonomy_details.description | markdownify }}
      </div> 
      
	  <img class="taxonomy-featured-img" src="{{ taxonomy_details.featured-img | default: '/assets/images/placeholder.jpg' | relative_url }}" alt="Featured Image">

	  <div>
      	<a class="taxonomy-cta btn btn--primary btn--large" href="{{ taxonomy_details.cta-url }}">{{ taxonomy_details.cta-title | markdownify }}</a>     
	  </div>
  </div>
{% endif %}