<div class="scrollable-container">
    <div class="scrollable">

        {% assign taxonomies = site.data.taxonomies | where: "type", "category"%}
        {% if taxonomies %}
            {% for cat in taxonomies %}
                <ul>
                    <li>CAT TITLE : {{ cat.title }}</li>
                </ul>
                <div class="item">
                    <a href="{{ '/topics' | relative_url }}/{{cat.title | downcase">{{ cat.title }}</a>                    
                </div>
            {% endfor %}
        {% else %}
            taxonomies do NOT exist
        {% endif %}
    </div>
</div>