
@charset "utf-8";


.page{
    float: inline-start !important;
}

.sidebar{
    float: inline-end !important;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



.page{
    float: inline-start !important;
}

.sidebar{
    float: inline-end !important;
}