{% assign file_to_include = include.file %}

<h2>{{ file_to_include }}</h2>

{% comment %}### FOCUS FILE ###{% endcomment %}
{% assign focus_file_path = 'focus/' | append: file_to_include | append: '.html' %}
{% assign custom_file_path = file_to_include | append: '.html' %}

{% comment %} Check if focus file exists {% endcomment %}
{% if site.static_files | map: 'path' | contains: '_includes/' | append: focus_file_path %}
  {% include focus/{{ file_to_include }}.html %}
{% endif %}

{% comment %} Check if custom file exists {% endcomment %}
{% if site.static_files | map: 'path' | contains: '_includes/' | append: custom_file_path %}
  {% include {{ file_to_include }}.html %}
{% endif %}