{% assign target_file = include.hook %}

{% assign hooks = site.data.focus.hooks %}
{% assign targeted_hook = hooks[target_file] %}
{% assign targeted_hook2 = hooks[ {{ target_file }}] %}

<h1> Hook 1 : {{ targeted_hook }}<br>
    Name : {{ targeted_hook[0] }}<br>
    Custom : {{ targeted_hook[1] }}
</h1>

<h2> Hook 2 : {{ targeted_hook2 }}</h1>

<hr>

{% assign target_hook = site.data.focus.hooks[{{target_file}}] %}
{% if site.data.focus.hooks[{{target_file}}] %}
<p>file {{ site.data.focus.hooks[{{ target_file }}][0] }} exists in hooks.yml</p>
{% endif %}