{% assign file_to_include = include.file %}

<h2>{{ file_to_include }}</h2>

{% assign focus_file_path = 'focus/' | append: file_to_include | append: '.html' %}
{% assign custom_file_path = file_to_include | append: '.html' %}

{% capture focus_content %}
  {% if site.static_files | map: 'path' | contains: focus_file_path %}
    {% include focus/{{ file_to_include }}.html %}
  {% endif %}
{% endcapture %}

{% capture custom_content %}
  {% if site.static_files | map: 'path' | contains: custom_file_path %}
    {% include {{ file_to_include }}.html %}
  {% endif %}
{% endcapture %}

{{ focus_content }}
{{ custom_content }}


<p>Focus File Path: {{ focus_file_path }}</p>
<p>Custom File Path: {{ custom_file_path }}</p>