{% assign target_topic = include.topic | default: "all" %}
{% assign type_string = include.type | default: "page" %}
{% assign type_array = type_string | split: ", " %}

{% assign topic_sort = include.sort | default: "priority" %}
{% assign topic_order = include.order %}
{% assign topic_limit = include.limit | default: 100000 %}


{% comment %} // Display DEBUG infos
<p>
    <strong>Type : {{type_string}} | Topic : {{ target_topic }}</strong><br>
    sort by ({{ topic_sort}}) limit ({{ topic_limit}}) order ({{ topic_order}})
</p>
{% endcomment %}


{% for type in type_array %}
    {% if type == "page" or type == "guide" %}
        {% comment %} // Get source {% endcomment %}
        {% if type == "guide"%}        
            {% assign sorted_pages = site.guides %}    
        {% else %}    
            {% assign sorted_pages = site.pages %}
        {% endif %}
                
        {% comment %} // Filter by category {% endcomment %}
        {% if target_topic != "all" %}
            {% assign sorted_pages = sorted_pages | where: "categories", target_topic %}
        {% endif %}        
                
        {% comment %} // Sort by priority {% endcomment %}
        {% assign sorted_pages = sorted_pages | sort: topic_sort %}        
                
        {% comment %} // Order direction {% endcomment %}
        {% if topic_order == "desc" %}
            {% assign sorted_pages = sorted_pages | reverse %}
        {% endif %}

        {% comment %} // Limit number {% endcomment %}
        {% assign limited_pages = sorted_pages | slice: 0, topic_limit %}
        
        {% comment %} // Display {% endcomment %}
        {% if limited_pages.size > 0 %}
            
            {% comment %}DEBUG <p>Topic : {{ target_topic }} | Type : {{type}} - limited to {{ limited_pages.size }} - order ({{ topic_order}})</p>{% endcomment %}
            
            <div class="">
                {% for page in limited_pages %}
                    <h3><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h3>
                    <p>{{ page.content }}</p>
                {% endfor %}        
            </div>    
        {% endif %}

    {% elsif type == "post" %}
        {% assign sorted_posts = site.posts %}
        {% if site.categories[target_topic] %}
            {% assign sorted_posts = site.categories[target_topic] | sort: topic_sort %}
        {% endif %}       
    
        {% if topic_order == "desc" %}
            {% assign sorted_posts = sorted_posts | reverse %}
        {% endif %}
    
        {% assign limited_posts = sorted_posts | slice: 0, topic_limit %}
        <p>Posts "{{ target_topic }}" - limited to {{ limited_posts.size }} - order ({{ topic_order}})</p>
        <ul>
        {% for post in limited_posts%}
            {% if post.url %}
                <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a> (Priority: {{ post.priority }})</li>
            {% endif %}
        {% endfor %}    
        </ul>


    {% endif %}
{% endfor %}