{% comment %} HOW TO USE
    ///{///% include focus/post-display.html
        type="resource"
        topic="main" // Posts : site.categories, other collections : site.pages where...
        format="list" // cards, grid
        order="desc" 
        container_class="box-shadow"
        type_class=""
        type-item_class="" %}
{% endcomment %} 

{% assign target_topic = include.topic | default: "all" %}
{% assign target_topic = target_topic | downcase %}
{% assign container_class = include.container_class | default: "" %}
{% assign type_class = include.type_class | default: "" %}
{% assign type-item_class = include.type-item_class | default: "" %}
{% assign type_string = include.type | default: "page" %}
{% assign type_array = type_string | split: ", " %}

{% assign topic_sort = include.sort | default: "priority" %}
{% assign topic_order = include.order %}
{% assign topic_limit = include.limit | default: 100000 %}


{% comment %}
<h2>
    Type : {{type_string}} | Topic : {{ target_topic }}<br>
    sort by ({{ topic_sort}}) limit ({{ topic_limit}}) order ({{ topic_order}})
</h2>
{% endcomment %}



<div class="items-container {{ container_class }}">
{% for type in type_array %}

        {% comment %} // Get source {% endcomment %}
        {% if type == "resource"%}        
            {% assign sorted_pages = site.resources %}    
        {% else %}    
            {% assign sorted_pages = site.pages %}
        {% endif %}        
        
        {% comment %} // Filter by category {% endcomment %}
        {% if target_topic == "all" %}
            {% if type == "post" %}
                {% comment %} // Get source {% endcomment %}
                {% assign sorted_pages = site.posts %}
            {% endif %}        
        {% else %}           
            {% if type == "post" %}            
                {% if site.categories[target_topic] %}
                    {% assign sorted_pages = site.categories[target_topic] %}
                {% else %}                
                    {% assign sorted_pages = "" | split: "" %}
                {% endif %}
            {% else %}
                {% assign sorted_pages = sorted_pages | where: "categories", target_topic %}
            {% endif %}
        {% endif %}        
        
        {% assign sorted_pages = sorted_pages | where_exp: "item", "item.hidden != true"  %}
        {% assign sorted_pages = sorted_pages | where_exp: "item", "item.status != 'draft'"  %}      
        
        {% comment %} // Sort by priority {% endcomment %}
        {% assign sorted_pages = sorted_pages | sort: topic_sort %}        
                
        {% comment %} // Order direction {% endcomment %}
        {% if topic_order == "desc" %}
            {% assign sorted_pages = sorted_pages | reverse %}
        {% endif %}

        {% comment %} // Limit number {% endcomment %}
        {% assign limited_pages = sorted_pages | slice: 0, topic_limit %}
        
        {% comment %} // Display {% endcomment %}
        {% if limited_pages.size > 0 %}
            
            {% comment %}
            DEBUG <p>Topic : {{ target_topic }} | Type : {{type}} - limited to {{ limited_pages.size }} - order ({{ topic_order}})</p>
            {% endcomment %}
                        
            <div class="{{type}}s {{ type_class }}">
                <h2>{{type_string}}s</h2>
                <h3>{{ target_topic }}</h3>
                {% for page in limited_pages %}
                    <div class="item {{ type-item_class }}">
                        
                        <img class="featured-logo" src="{{ page.featured-logo | default: '/assets/images/placeholder-logo.jpg' | relative_url }}" alt="Featured Logo">

                        <img class="featured-img" src="{{ page.featured-img | default: '/assets/images/placeholder.jpg' | relative_url }}" alt="Featured Image">
                        
                                                                        
                        <h3 class="item-title"><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h3>                        
                        {% if page.subtitle %}
                            <h4 class="item-subtitle">{{ page.subtitle }}</h4>                    
                        {% endif %}
                        
                        
                        {% if site.tag_archive.type and page.tags[0] %}
                            {% include tag-list.html %}
                        {% endif %}
                        
                        <div class="item-description">
                             {% if page.description %}
                                 {{ page.description }}
                             {% else %}
                                 {{ page.excerpt | markdownify | strip_html | truncate: 250 }}
                             {% endif %}                
                        </div>
                        
                        <div class="item-meta">
                            <!-- Page date -->         
                            <div class="page__meta_date">                    
                                {% include page__meta.html %}
                            </div>                        
                        
                             <!-- Page taxonomy -->            
                            <div class="page__meta_taxonomy">                                    
                                {% include page__taxonomy.html %}
                            </div>                        
                        </div>
                    </div>
                {% endfor %}        
            </div>    
            
        {% endif %}
        
{% endfor %}
</div>