
NAVI : {{ include.nav}}
TYPE : {{ include.type }}
{% if site.data.resources[include.nav] %}
    {% assign resource = site.data.resources[include.nav] %}
    
    {% assign path = resource.url | relative_url }}
    TEST path : {{ path }} // {{ page.url }}
    <ul>        
        <li><a href="{{ resource.url | relative_url }}">{{ resource.title }}</a></li>
        <li>{{ resource.subtitle }}</li>
        <li>{{ resource.description }}</li>
        <li>{{ resource.featured-img }}</li>        
        {% if resource.actions and resource.actions.size > 0 %}
            <li><a href="{{ resource.actions[0].url  | relative_url }}">{{ resource.actions[0].label }}</a></li>                    
        {% endif %}  
    </ul>    
{% endif %}

<div class="resource-navi sticky">{% include focus/nav_list.html nav=include.nav type=include.type %}</div>