{% assign modified_content = content | replace: '{% include', 'CUSTOMMMMp_START' %}                                                     
                                                <pre>Modified Content Before Replace: {{ modified_content }}</pre>
                                                
                                                
                                                <!-- Debug the modified content -->                                                
                                                {% comment %} DEBUG
                                                {% assign modified_content = modified_content | replace: '%}', 'CUSTOMMMM_END' %}

                                                <!-- Step 2: Initialize variables -->
                                                {% assign parts = modified_content | split: 'CUSTOMIIIII_START' %}
                                                {% assign final_content = parts[0] %} <!-- Start with the first part -->
                                                
                                                <!-- Step 3: Loop through parts -->
                                                {% for part in parts %}
                                                    {% if forloop.first %}
                                                        {% continue %} <!-- Skip the first part as it doesn't contain 'CUSTOMaaaaa_START' -->
                                                    {% else %}
                                                        {% assign sub_parts = part | split: 'CUSTOMIIIII_END' %}
                                                        {% assign final_content = final_content | append: "HELLOOOO" %} <!-- Replace content between markers -->
                                                        
                                                        {% if sub_parts.size > 1 %}
                                                            {% assign final_content = final_content | append: sub_parts[1] %} <!-- Append the rest of the content after 'CUSTOM_END' -->
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% endcomment %}
