<!-- Display Taxonomy description -->
{% assign post_slug = page.title | slugify %}
{% capture dynamic_key %}{{ post_slug }}{% endcapture %}
{% assign taxonomy_details = site.data.categories[dynamic_key] %}

{% if taxonomy_details %}
  <div class="taxonomy-details">
       <h1 id="page-title" class="page__title"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ taxonomy_details.title | markdownify }}</h1>
       
       {% if taxonomy_details.subtitle %}
             <h2 id="page-subtitle" class="page__subtitle"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ taxonomy_details.subtitle | markdownify }}</h2>
        {% endif %} 
      <div>
          {{ taxonomy_details.description | markdownify }}
      </div> 
      
	  <img class="taxonomy-featured-img" src="{{ taxonomy_details.featured-img | default: '/assets/images/placeholder.jpg' | relative_url }}" alt="Featured Image">

	  <div>
		  
		  
	 	{% for action in taxonomy_details.actions %}
	      	<a class="taxonomy-cta btn btn--primary btn--large" href="{{ action.url }}">{{ action.label | markdownify }}
			</a> 
		{% endfor %}
			
	  </div>
	  	  
  </div>
{% endif %}