{% assign taxonomies = site.data.taxonomies %}

{% if taxonomies %}
    <div class="scrollable-container">
        <div class="scrollable">
            
            <ul>    
                <li class="item"><a href="{{ '/topics' | relative_url }}">All</a></li>
                {% for cat in taxonomies %}   
                    {% assign values = cat[1] %}
                    {% if values.type == "category" %}
                        {% assign key = cat[0] | slugify %}  <!-- Get the key for the current category -->
                        {% assign title = page.title | slugify %}
                        {% if title == key %}
                            {% assign active = 'current' %}
                        {% else %}
                            {% assign active = '' %}                    
                        {% endif %}
                        
                        <li class="item {{ active }}">
                            <a href="{{ '/topics' | relative_url }}/{{ key }}">{{ values.title }}</a>                    
                        </li>
                    {% endif %}   
                {% endfor %}      
            </ul>            
        </div>
    </div>
{% endif %}

{% comment %}
<script>
        // Smooth scrolling behavior
        document.querySelectorAll('.item a').forEach(anchor => {
            anchor.addEventListener('click', function(e) {
                e.preventDefault();
                const targetId = this.getAttribute('href');
                const targetElement = document.querySelector(targetId);
                
                if (targetElement) {
                    targetElement.scrollIntoView({
                        behavior: 'smooth'
                    });
                }
            });
        });
    </script>
{% endcomment %}