{% assign taxonomies = site.data.taxonomies | where: "type", "category" %}
{% if taxonomies %}
    <div class="scrollable-container">
        <div class="scrollable">    
            <span class="item"><a href="{{ '/topics' | relative_url }}">All</a></span>
            {% for cat in taxonomies %}            
                {% if page.title == cat.title %}
                    {% assign active = 'current' %}
                {% else %}
                    {% assign active = '' %}                    
                {% endif %}
                // {{ page.title }} - {{ cat.title }} //
                <span class="item {{ active }}">
                    <a href="{{ '/topics' | relative_url }}/{{ cat.title | slugify }}">{{ cat.title }}</a>                    
                </span>
            {% endfor %}                        
        </div>
    </div>
{% endif %}