{% assign target_topic = include.topic %}
{% assign type_string = include.type | default: "page" %}
{% assign type_array = type_string | split: ", " %}

{% assign topic_sort = include.sort | default: "priority" %}
{% assign topic_order = include.order | default: "reverse" %}
{% assign topic_limit = include.limit | default: 1 %}


<p>
    <em>{{ target_topic }} ({{type_string}})</em><br>
    sort by ({{ topic_sort}}) limit ({{ topic_limit}}) order ({{ topic_order}})
</p>

{% for type in type_array %}
    {% if type == "page" %}
        {% assign categorized_pages = site.pages | where: "categories", target_topic | sort: topic_sort | limit: topic_limit %}
        
        <p>Filtered Pages Count: {{ categorized_pages.size }}</p>
                
        
        {% if topic_order == "reverse" %}
            {% assign categorized_pages = categorized_pages | reverse %}
        {% endif %}
        
        {% if categorized_pages.size > 0 %}
            <h4>Pages "{{ target_topic }}"</h4>
            <ul>
                {% for page in categorized_pages %}
                    <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
                {% endfor %}        
            </ul>    
        {% endif %}

    {% elsif type == "post" %}
        {% if site.categories[target_topic] %}
            <h4>Posts "{{ target_topic }}"</h4>
            {% assign sorted_posts = site.categories[target_topic] | sort: topic_sort | topic_order %}
                {% assign limited_posts = sorted_posts | limit: 1 %}
            <p>LIMITED Posts Count: {{ limited_posts.size }}</p>

            {% if topic_order == "reverse" %}
            {% assign sorted_posts = sorted_posts | reverse %}
        {% endif %}
            <ul>
            {% for post in sorted_posts %}
                {% if post.url %}
                    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a> (Priority: {{ post.priority }})</li>
                {% endif %}
            {% endfor %}    
            </ul>
        {% endif %}

    {% endif %}
{% endfor %}