---
---


  
<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

    {% comment %}
    <!-- Layout class -->
    {% endcomment %}
    {% assign layout_class = site.layout_prefix | append: (page.layout | default: layout.layout | replace: '/', '-') %}

    {% comment %}
    <!-- Main Category class -->
    {% endcomment %}
    {% assign category_main = page.categories[0] %}    
    {% if category_main == "guide" and page.categories.size > 1 %}
        {% assign category_main = page.categories[1] %}
    {% endif %}
        
    {% comment %}
    <!--  Main Category slug -->
    {% endcomment %}
    {% assign category_main_slug = "" %}
    {% assign category_main_class = "" %}
    {% if category_main %}
        {% assign category_main_slug = category_main | downcase | slugify %}
        {% assign category_main_class = site.category_main_prefix | append: category_main_slug %}
    {% endif %}
    
    {% comment %}
    <!-- Main Category label -->
    {% endcomment %}
    {% assign category_main_split = category_main | split : ' ' %}
    {% capture category_main_label %}
      {% for word in category_main_split %}
        {{ word | capitalize }}
        {% endfor %}
    {% endcapture %}
    

    {% comment %}
    <!-- Categories classes -->
    {% endcomment %}
    {% assign categories_classes = '' %}
    {% if page.categories %}
        {% for category in page.categories %}
            {% assign slugified_category = category | downcase | slugify %}        
                {% assign categories_classes = categories_classes | append: ' ' | append: (site.categories_prefix | append: slugified_category) %}
        {% endfor %}
    {% endif %}    
    
    <!-- Page classes -->    
    {% if page.classes or layout.classes %}
        {% assign page_classes = page.classes | default: layout.classes | join: ' ' | prepend: ' ' %}
    {% endif %}
    
    
    
    {% assign myHashString = 
  "slug:" | append: category_main_slug | append: ",class:" | append: category_main_class | append: ",label:" | append: category_main_label %}

    
    <body class="{{ layout_class }} {{ category_main_class }} {{ categories_classes }} {{ page_classes }}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">

    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
