---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

    {% comment %}
    <!-- Layout class -->
    {% endcomment %}
    {% assign layout_class = site.layout_prefix | append: (page.layout | default: layout.layout | replace: '/', '-') %}

    {% comment %}
    <!-- Main Category class -->
    {% endcomment %}
    {% assign category_main = page.categories[0] %}    
    {% if category_main == "guide" and page.categories.size > 1 %}
        {% assign category_main = page.categories[1] %}
    {% endif %}

        
    {% comment %}
    <!--  Main Category slug -->
    {% endcomment %}
    {% assign category_main_slug = "" %}
    {% assign category_main_class = "" %}
    {% if category_main %}
        {% assign category_main_slug = category_main | downcase | slugify %}
        {% assign category_main_class = site.category_main_prefix | append: category_main_slug %}
        
        {% assign category_main_details = site.data.categories[category_main_slug] %}    
        {% assign category_main_id = category_main_details.id | default: 0 %}
        {% assign category_main_id_class = site.categories_prefix | append: "id_" | append: category_main_id %}
    {% endif %}
    
    <p>Category Main: {{ category_main }}</p>
    <p>Category Main Slug: {{ category_main_slug }}</p>
    <p>Category Main Details: {{ category_main_details }}</p>
    <p>Category Main ID: {{ category_main_id }}</p>
    
    {% comment %}
    <!-- Main Category label -->
    {% endcomment %}
    {% assign category_main_split = category_main | split : ' ' %}
    {% capture category_main_label %}
      {% for word in category_main_split %}
        {{ word | capitalize }}
        {% endfor %}
    {% endcapture %}
    

    {% comment %}
    <!-- Categories classes -->
    {% endcomment %}
    {% assign categories_classes = '' %}
    {% if page.categories %}
        {% for category in page.categories %}
            {% assign slugified_category = category | downcase | slugify %}        
                {% assign categories_classes = categories_classes | append: ' ' | append: (site.categories_prefix | append: slugified_category) %}
        {% endfor %}
    {% endif %}    
    
    {% comment %}
    <!-- Page classes -->    
    {% endcomment %}    
    {% if page.classes or layout.classes %}
        {% assign page_classes = page.classes | default: layout.classes | join: ' ' | prepend: ' ' %}
    {% endif %}
    
    {% comment %}
    <!-- - [ ] TODO : Implement? -->
    {% assign myHashString = 
  "slug:" | append: category_main_slug | append: ",class:" | append: category_main_class | append: ",label:" | append: category_main_label %}
    {% endcomment %}
    
    <body class="{{ layout_class }} {{ category_main_class }} {{ category_main_id_class }} {{ categories_classes }} {{ page_classes }}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
        
        <!-- SECTION top__bar -->      
        {% include focus/hook.html hook="top__bar" %}

        {% include_cached skip-links.html %}
        {% include_cached masthead.html %}
    
        <div class="initial-content">
          {{ content }}
          {% include after-content.html %}
        </div>
    
        {% if site.search == true %}
          <div class="search-content">
            {% include_cached search/search_form.html %}
          </div>
        {% endif %}
    
        <div id="footer" class="page__footer">
          <footer>
            <!-- SECTION footer__before -->      
            {% include focus/hook.html hook="footer__before" %}
            
            {% include footer/custom.html %}
            {% include_cached footer.html %}
            
            <!-- SECTION footer__after -->      
            {% include focus/hook.html hook="footer__after" %}      
          </footer>
        </div>
    
        {% include scripts.html %}
    </body>
</html>
