---
---


<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  
    <!-- Category class -->
    {% assign category_primary = page.categories[0] %}    
    {% if category_primary == "guide" and page.categories.size > 1 %}
        {% assign category_primary = page.categories[1] %}
    {% endif %}
    
    {% assign category_primary_slug = category_primary | downcase | slugify %}
    {% assign category_primary_slug = category_primary_slug ? 'category--' | append: category_primary_slug : '' %}


    
    <body class="
    layout--{{ page.layout | default: layout.layout | replace: '/', '-' }} 
      {{ category_primary_slug }} 
      {% if page.classes or layout.classes %}
        {{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }} 
      {% endif %}
" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">

    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
