@mixin box-shadow($shadow) {
  -webkit-box-shadow: #{$shadow}; // For older WebKit browsers
  -moz-box-shadow: #{$shadow};    // For older Firefox browsers
  box-shadow: #{$shadow};         // Standard syntax
}
