/*
* THEMES
* ----
*/


body{
    
    

    &.dark{
        --body-bg-color: #111111;
        --bg-color-1: #09202B;
        --bg-color-2: #0E2A2D;
        --bg-color-3: #1E4B8D;
        --font-color-primary: #678986;
        --font-color-secondary: #AFAFAF;
        --font-color-heading-primary: #FFF;
        --font-color-heading-secondary: #EFEFEF;    
        --links-color-primary: #8C33B6;
        --links-color-secondary: yellow;
        --links-color-border: #292929;
        --border-color-1: var(--bg-color-1);
        --border-color-2: var(--bg-color-2);
        --border-color-3: yellow;   
    }
    
}
